    <div class="card">
        <h2 class="card-header">Login</h2>
        <form class="card-body">
            <label for="username" class="form-label">Username</label><br>
            <input type="text" id="username" name="username" value="" class="form-textarea"><br>
            <label for="password" class="form-label">Password</label><br>
            <input type="text" id="password" name="password" value="" class="form-textarea"><br><br>
            <input type="submit" value="Login" class="form-input">
        </form>
        <a href="/signup" class="form-label">Sign up instead</a>
    </div>